<div class= "card-deck" style= "display:flex; justify-content: space-betweem">
    <%@listings.each do |l|%>
        <div class = "d-inline-block">
            <div class="card border-dark mb-4 mr-2" style="width: 18rem; height: 55vh;">
                <div class="card-body">
                    <h5 class="card-title"><p> <strong><%= l.title %> </strong></p></h5>

                    <div class="card-text">


                            <%if l.images.present?%>
                                <%l.images.each_with_index do |pic, i| %>
                                    <%if i == 0 %>
                                        <img class="mx-auto d-block" src="<%=pic.thumb.url %>" alt="First slide"style="max-height: 100px; max-width: 100px;">
                                    <%end%>
                                <%end%>
                            <%end%>

                        <p><%= l.price %> ringgits per day </p>
                        <p><%= l.city %> </p>
                        <p>Post by:<%= l.user.first_name %> </p>
                        
                            <% if current_user.id == l.user_id %>
                                <%= link_to 'Edit', edit_listing_path(l) %>
                                <%= link_to 'Delete', listing_path(l),
                                    method: :delete,
                                    data: {confirm: 'Sure?'}%>
                            <%end%>

                    </div>
                </div>

                            <%if current_user.id != l.user_id %>
                                <div class="card-footer">
                                    <%=link_to "Rent This Item", listing_path(l.id), class: 'btn btn-primary d-block mx-auto' %>
                                </div>
                            <%end%>
            </div>
        </div>
<%end%>
</div>











