<div class = "whiteletters">
  <h1> Post a product !</h1>
</div>

  <%= form_with scope: :listing , url:listings_path, local: true do |form| %>
    <div class = "whiteletters">
        <p>
          <%= form.label :title, class:"listingtext" %><br>
          <%= form.text_field :title %>
        </p>

        <p>
          <%= form.label :description, class:"listingtext" %><br>
          <%= form.text_area :description %>
        </p>
      
        <p>
          <%= form.label :price, class:"listingtext" %><br>
          <%= form.text_field :price, placeholder: "ringits per day" %>
        </p>

        <p>
          <%= form.label :city, class:"listingtext" %><br>
          <%= form.text_field :city %>
        </p> 

        <p>
          <%= form.label :area, class:"listingtext" %><br>
          <%= form.text_field :place %>
        </p>

        <p>
          <%= form.file_field :images, multiple: true, class:"listingtext" %><br>
        </p>
    </div>
        <p>
          <%= form.submit %>
        </p>
   
  <% end %>
