<%# <h3> My Current Listings: </h3> %>


<div class="card w-25 p-3">
  <div class="card-body">
    <h4 class="card-title"> <%=@listing.title%> </h4>
    <p class="card-text">Price: <%=@listing.price%> ringits/day</p>
    <p class="card-text">Item owner: <%=@listing.user.first_name%></p>
    <p class="card-text">Description: <%=@listing.description%></p>
    <p class="card-text">Area: <%=@listing.place%></p>
    <p class="card-text">Contact info: </h1></p>
    <p class="card-text">Email: <strong> <%=@listing.user.email%> </strong> </h1></p>

  </div>
</div>

<%# run this stuff first on the page (application.html) %>
    <% provide :head_tags do %>
        <meta name='turbolinks-visit-control' content='reload'>
            <script>
            document.addEventListener("DOMContentLoaded", function(){
                initMap(<%=@listing.latitude%>, <%=@listing.longitude%>)
            });
            </script>
    <% end %>


<div class= "card-deck mt-4" style= "display:flex; justify-content: space-betweem">
        <div class = "d-inline-block">
            <div class="card border-dark mb-4 mr-2" style="width: 18rem;">
                <div class="card-body">

                    <div class="card-text">
                    
                        <div id="<%='carouselExampleControls' + @listing.id.to_s%>" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <% if @listing.images.present?%>                   
                                    <% @listing.images.each_with_index do |pic, i| %>
                                        
                                        <% if i == 0 %>
                                            <div class="carousel-item active">
                                                <%=image_tag pic.url.to_s, style: "height: 25em; width: 100%" %>
                                                <%# <img class="d-block w-100 h-100" src="<%=pic.url %>
                                            </div>
                                        <%else%>
                                            <%# image_tag and url are built in helpers %>
                                            <%# <%= image_tag l.images_url.to_s %> 
                                            <div class="carousel-item">
                                            <%=image_tag pic.url.to_s, style: "height: 25em; width: 100%" %>    
                                                <%# <img class="d-block w-100 h-100" src="<%=pic.url %>
                                            </div>
                                        <%end%>
                                    <%end%>
                                <%end%>
                            </div>

                            <a class="carousel-control-prev" href="<%='#carouselExampleControls' + @listing.id.to_s%>" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="<%='#carouselExampleControls' + @listing.id.to_s%>" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<p>
    <div id="map">
    <%# map goes here %>
    </div>
</p>


<script>

function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
    center: myCoords,
    zoom: 14
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    // put the map options in map div
    // marker
    var marker = new google.maps.Marker({
    position: myCoords,
    map: map
});
}

</script>